.hero {
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    width: 100%;
    min-height: 600px;
  }
}

.hero__container {
  // padding-top: 221px;
  // padding-bottom: 179px;
  min-height: 400px;
  min-width: 320px;
  padding: 118px 60px;
  width: 100%;
  text-align: center;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/Hero_mob_1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero_mob_2x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  @media screen and (max-width: 479px) {
    padding-right: 50px;
  }
  @media screen and (min-width: 768px) {
    padding-left: 204px;
    padding-right: 204px;
    width: 768px;
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero_tab_1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/Hero_tab_2x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  @media screen and (min-width: 1200px) {
    min-height: 600px;
    padding: 200px 0;
    width: 100%;
    max-width: 1600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/Hero_desk_2x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

// @media screen and (min-width: 768px) {
//     width: 768px;
//     background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//       url(../images/hero_tab_1x.jpg);
//     background-repeat: no-repeat;
//     background-position: center;
//     background-size: cover;
//   }

.hero__title {
  font-weight: 900;
  font-size: 26px;
  width: 360px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--extra-color);

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  @media screen and (min-width: 1200px) {
    width: 630px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__btn {
  line-height: calc(30 / 16);
  color: var(--extra-color);
  background-color: var(--accent-color);
  margin: auto;
  padding: 10px 32px;
}
